ENVIRONMENT=development
APP_NAME=SQLServer-Monitoring-Platform-API
DEBUG=false
APP_SECRET_KEY=REPLACE_WITH_A_LONG_RANDOM_SECRET
CORS_ORIGINS=["http://localhost:3001"]
API_PORT=8000
FRONTEND_PORT=3001
GRAFANA_PORT=3000
AIRFLOW_PORT=8080
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=REPLACE_WITH_A_GRAFANA_PASSWORD
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=REPLACE_WITH_AN_AIRFLOW_PASSWORD

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=sqlserver_monitoring
POSTGRES_USER=monitoring_user
POSTGRES_PASSWORD=REPLACE_WITH_A_POSTGRES_PASSWORD
POSTGRES_PASSWORD_URLENCODED=REPLACE_WITH_URL_ENCODED_POSTGRES_PASSWORD

SQLSERVER_HOST=sqlserver
SQLSERVER_PORT=1433
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=REPLACE_WITH_A_SQLSERVER_PASSWORD
SQLSERVER_SA_PASSWORD=REPLACE_WITH_A_SQLSERVER_SA_PASSWORD
SQLSERVER_DATABASE=master
SQLSERVER_INSTANCE_NAME=MSSQLSERVER
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_ENCRYPT=yes
SQLSERVER_TRUST_SERVER_CERTIFICATE=yes
SQLSERVER_CONNECTION_TIMEOUT=15

TARGET_INSTANCE_KEY=1
COLLECTOR_NAME=sqlserver-collector
COLLECTOR_VERSION=1.0.0
LOG_LEVEL=INFO
AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__EXECUTOR=LocalExecutor
