# ==========================================
# PostgreSQL
# ==========================================
POSTGRES_DB=monitoring_db
POSTGRES_USER=monitoring_user
POSTGRES_PASSWORD=change_me_strong_password

# ==========================================
# Airflow Admin
# ==========================================
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change_me_airflow_password
AIRFLOW_ADMIN_EMAIL=admin@example.com

# Generate:
# openssl rand -hex 32
AIRFLOW_WEBSERVER_SECRET_KEY=change_me_generated_secret_key

# Generate:
# python3 - <<'PY'
# from cryptography.fernet import Fernet
# print(Fernet.generate_key().decode())
# PY
AIRFLOW_FERNET_KEY=change_me_generated_fernet_key

# ==========================================
# SQL Server Source
# ==========================================
SQLSERVER_HOST=host.docker.internal
SQLSERVER_PORT=1433
SQLSERVER_USER=sql_user
SQLSERVER_PASSWORD=change_me_sqlserver_password
SQLSERVER_DB=master
INSTANCE_NAME=sqlserver_prod_01

# ==========================================
# Grafana
# ==========================================
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_grafana_password
