# Secrets
.env
*.key
*.pem
*.pfx
*.p12

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.envrc

# Airflow local files
airflow.db
airflow-webserver.pid
logs/
plugins/
airflow_metadata/

# Docker / runtime
*.log
*.tmp

# OS / IDE
.DS_Store
.vscode/
.idea/
